rsync.sh
application/configs/application.ini
.idea
cache/
.sass-cache/
public/data/export/*
/data/uploads/
/public/data/icons/
/vendor/
/nbproject/
/node_modules/
/public/apidoc/
/apidoc/
/public/oaidoc/
/application/configs/application.ini_backup.dist
/application/configs/application_corrupted.ini
/application/configs/application_backup.ini
/application/configs/custom.ini
/tools/data/
/tools/data-embo/