rsync.sh
application/configs/application.ini
.idea
cache/
.sass-cache/
public/data/export/*
/data/uploads/
/data/solr/
/public/data/icons/
/vendor/
/nbproject/
/node_modules/
/public/apidoc/
/apidoc/
/public/oaidoc/
/application/configs/application.ini_backup.dist
/application/configs/application_corrupted.ini
/application/configs/application_backup.ini
/application/configs/custom.ini
/data/solr/data/
composer.phar
data/fuseki/databases/openskos/GOSP.dat
data/fuseki/databases/openskos/GOSP.idn
data/fuseki/databases/openskos/GPOS.dat
data/fuseki/databases/openskos/GPOS.idn
data/fuseki/databases/openskos/GSPO.dat
data/fuseki/databases/openskos/GSPO.idn
data/fuseki/databases/openskos/journal.jrnl
data/fuseki/databases/openskos/node2id.dat
data/fuseki/databases/openskos/node2id.idn
data/fuseki/databases/openskos/nodes.dat
data/fuseki/databases/openskos/OSP.dat
data/fuseki/databases/openskos/OSP.idn
data/fuseki/databases/openskos/OSPG.dat
data/fuseki/databases/openskos/OSPG.idn
data/fuseki/databases/openskos/POS.dat
data/fuseki/databases/openskos/POS.idn
data/fuseki/databases/openskos/POSG.dat
data/fuseki/databases/openskos/POSG.idn
data/fuseki/databases/openskos/prefix2id.dat
data/fuseki/databases/openskos/prefix2id.idn
data/fuseki/databases/openskos/prefixes.dat
data/fuseki/databases/openskos/prefixIdx.dat
data/fuseki/databases/openskos/prefixIdx.idn
data/fuseki/databases/openskos/SPO.dat
data/fuseki/databases/openskos/SPO.idn
data/fuseki/databases/openskos/SPOG.dat
data/fuseki/databases/openskos/SPOG.idn
data/fuseki/databases/openskos/tdb.lock
