<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Openskos Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">library/</directory>
        </whitelist>
    </filter>
    <logging>
        <!--<log type="tap" target="build/report.tap"/>-->
        <!--<log type="junit" target="build/report.junit.xml"/>-->
        <!--<log type="coverage-html" target="build/coverage" charset="UTF-8" yui="true" highlight="true"/>-->
        <!--<log type="coverage-text" target="build/coverage.txt"/>-->
        <!--<log type="coverage-clover" target="build/logs/clover.xml"/>-->
    </logging>
    <php>
        <!-- test setting -->
        <const name="API_BASE_URI" value = "http://localhost:89/clavas/public/api"/>
        <const name="TENANT" value="example"/>
        <const name="API_KEY_ADMIN" value="xxx"/>
        <const name="API_KEY_EDITOR" value="yyy"/>
        <const name="API_KEY_GUEST" value="zzz"/>
        <const name="SCHEMA_URI_1" value ="http://openskos.meertens.knaw.nl/Organisations"/>
        <const name="SCHEMA_URI_2" value ="http://openskos.meertens.knaw.nl/Languages"/>
        <const name="SET_CODE" value="clavas:org"/>
    </php>
</phpunit>
