; "production" is the default environment used
[production]

; general settings:
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1
resources.frontController.params.displayExceptions = 1
includePaths.openskos = APPLICATION_PATH "/../library/openSKOS"
bootstrap.path = APPLICATION_PATH "/Bootstrap.php"
bootstrap.class = "Bootstrap"
appnamespace = "Application"


editor.schemeIcons.height=16
editor.schemeIcons.extension="png"

; Export configuration
editor.export.filesPath = APPLICATION_PATH "/../public/data/export/"
editor.export.filesHttpPath = "/data/export/"

; Editor behaviour
editor.allowNotationEdit = "@editor-allow-notation-edit@"

; overwrite the homepage by setting this option
; make sure there is a script named "index/index.phtml"
; see http://framework.zend.com/manual/en/zend.view.scripts.html

; Solr configuration:
solr.host = localhost
solr.port = 8983
solr.context = /solr



; Database configuration:
resources.db.adapter=pdo_mysql
resources.db.params.host=localhost
resources.db.params.username=openskos
resources.db.params.password=openskos
resources.db.params.charset=utf8
resources.db.params.dbname=openskos
resources.db.isDefaultTableAdapter = true

 ; @extra routes here@

resources.frontController.params.displayExceptions = 1
resources.locale.default=nl_NL.utf8
resources.view.encoding="UTF-8"
resources.view.options.doctype=XHTML1_STRICTF

Apache Jena Fuseki configuration:
parql.queryUri = http://localhost:3030/openskos/query
sparql.updateUri = http://localhost:3030/openskos/update

oAuth2.google.clientSecret = "@google-client-secret@"

; Api configuration
+;api.baseUri = "http://host/backend_name/public/api/" ;"@api-base-uri@"
+api.baseUri = "@api-base-uri@
api.showOnlyApproved = "@api-show-only-approved@""


; customize applicaton
custom.backward_compatible = true
custom.default_authorisation = false
custom.default_deletion = false
custom.default_relationtypes = false
custom.default_urigenerate = true
custom.relations_strict_reference_check = "http://www.w3.org/2004/02/skos/core#broader, http://www.w3.org/2004/02/skos/core#broaderTransitive, http://www.w3.org/2004/02/skos/core#narrower,http://www.w3.org/2004/02/skos/core#narrowerTransitive"
custom.relations_soft_reference_check = "http://www.w3.org/2004/02/skos/core#related,http://www.w3.org/2004/02/skos/core#semanticRelation,http://www.w3.org/2004/02/skos/core#broadMatch,http://www.w3.org/2004/02/skos/core#closeMatch,http://www.w3.org/2004/02/skos/core#exactMatch,http://www.w3.org/2004/02/skos/core#mappingRelation,http://www.w3.org/2004/02/skos/core#narrowMatch,http://www.w3.org/2004/02/skos/core#relatedMatch"
custom.allowed_concepts_for_other_tenant_schemes = true
custom.limit = 30;
custom.maximal_rows = 500
custom.maximal_time_limit = 120
custom.normal_time_limit = 30
custom.backend = ccr

[development : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1
resources.frontController.params.displayExceptions = 1
