
; customize applicaton

; @instance customizations@

options.backward_compatible = "@options.backward_compatible@"
options.authorisation = "@options.authorisation@"
options.delete.integrity_check = "@options.delete.integrity_check@"
options.relation_types = "@options.relation_types@"
options.uri_generate = "@options.uri_generate@"
options.relations_strict_reference_check = "@options.relations_strict_reference_check@"
options.relations_soft_reference_check = "@options.relations_soft_reference_check@"
options.allowed_concepts_for_other_tenant_schemes = "@options.allowed_concepts_for_other_tenant_schemes@"
options.limit = "@options.limit@"
options.maximal_rows = "@options.maximal_rows@"
options.maximal_time_limit = "@options.maximal_time_limit@"
options.normal_time_limit = "@options.normal_time_limit@"
options.backend = "@options.backend@"
options.uriprefix = "@options.uriprefix@"
options.uuid_regexp_prefixes = "@options.uuid_regexp_prefixes@"

